.App { display: flex; flex-direction: column; width: 100vw; height: 100vh; font-family: "NanumSquare"; }
.App div { box-sizing: border-box; }
.App > div:not(.header) { flex: 1 0 0; /* margin-top: 5px; */ background-color: rgb(250,252,254); }

a:link, 
a:visited { color: #fff; text-decoration: none; }


/* =========================================================================== */
/* font */

@font-face {
  font-family: "NanumSquare";
  src: url("./font/NanumSquareR.ttf");
}