.App { display: flex; flex-direction: column; width: 100vw; height: 100vh; font-family: "NanumSquare"; }
.App div { box-sizing: border-box; }
.App > div:not(.header) { flex: 1 0 0; padding: 2rem; background-color: rgb(243,245,248); }

a:link, 
a:visited { color: #fff; text-decoration: none; }


/* =========================================================================== */
/* font */

@font-face {
  font-family: "NanumSquare";
  src: url("./font/NanumSquareR.ttf");
}