#mainContainer {
    /* display: grid;
    grid-template-columns: 4fr 1.3fr 2fr;
    grid-gap: 2rem; */
    display: flex;
    justify-content: space-around;
}

#mainContainer > div { background-color: #fff; border-radius: 0.5rem; }
#mainContainer > div:nth-child(1) { flex: 4 0 0; }
#mainContainer > div:nth-child(2) { flex: 1.4 0 0; }
#mainContainer > div:nth-child(3) { flex: 2 0 0; }
#mainContainer > div:not(:first-child) { margin-left: 2rem; }

#mainContainer > div > p { /* padding: 1.7rem 2rem; */ font-size: 1.3rem; }

#typeContainer { align-self: start; }
#typeContainer ul li {
    display: flex;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: 1rem;
    padding-left: 3rem;
    background-color: #fff;
    border: 0.12rem solid rgb(214 220 229);
    border-radius: 0.3rem;
    cursor: pointer;
}
#typeContainer ul li.on,
#typeContainer ul li:hover { color: #fff; background-color: rgb(48,58,68); }

#detailContainer { display: flex; flex-direction: column; height: 100%; }
#detailContainer #tableHeadWrap { padding-right: 0.5rem; }
#detailContainer #tableBodyWrap { /* height: 67rem; */ padding-right: 0.5rem; overflow-y: scroll; }

#detailContainer #tableHeadWrap tr th:nth-child(1),
#detailContainer #tableBodyWrap tr td:nth-child(1), 
#detailContainer #tableHeadWrap tr th:nth-child(2),
#detailContainer #tableBodyWrap tr td:nth-child(2) { width: 10%; }
#detailContainer #tableHeadWrap tr th:nth-child(3),
#detailContainer #tableBodyWrap tr td:nth-child(3) { width: 20%; }
#detailContainer #tableHeadWrap tr th:nth-child(4),
#detailContainer #tableBodyWrap tr td:nth-child(4) { width: 46%; }
#detailContainer #tableHeadWrap tr th:nth-child(5),
#detailContainer #tableBodyWrap tr td:nth-child(5) { width: 12%; }

#tableBodyWrap::-webkit-scrollbar { width: 4px; background-color: #fff; }
#tableBodyWrap::-webkit-scrollbar-thumb { height: 10%; background-color: #cdcdcd; }


#detailContainer table {
    width: 100%;
}
#detailContainer tr.on {
    color: #fff;
    background-color: #303a44;
}
#detailContainer th {
    padding: 1rem 0;
    background-color: #eef2f7;
    font-weight: bold;
}
#detailContainer td {
    padding: 1rem 0;
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
}